* {
  box-sizing: border-box;
}

#Background {
background-image: url("Assets/images/pexels-pixabay-270404.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: local;
background-position: center;
height: 300px;
width: 1000px;
background-color: rgb(0, 0, 0);

padding-left: 20px;
color:rgb(255, 255, 255);
text-shadow: 4px 4px 8px #030303;
border-radius: 5px;
}

#portrait {
position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
    margin-bottom: 10px;
  max-height: 200px;
}
/* Navigation Properties */
.topnav {

  overflow: hidden;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Hover Properties */
.topnav a:hover {
  background-color: rgb(97, 255, 77);
  color: black;
}

/* Home Button */

.topnav a.active {
  background-color: #f11818;
  color: white;
}

/* Body of Website */

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}


.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}


.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  width: 25%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Main Content */
.content:hover, a:hover {
  background-color: rgb(247, 247, 77);
  color:rgb(0, 0, 0)
}

.content {
  background-color: rgb(0, 0, 0);
  padding: 10px;
 border-radius: 6px;
 color:rgb(255, 255, 255);
 
}

.contentContact {
  background-color: rgb(0, 0, 0);
  padding: 10px;
 border-radius: 6px;
 color:rgb(255, 255, 255);
 text-align: center;
}

ul#menu li {
  list-style-type: none;
  margin: 0;
  padding: 3px;
  display:inline;
  list-style-type: none;
  color:rgb(255, 255, 255)
}

li {
  margin: 10px 0;
}

/* Footer Properties */

#footer {
  text-align: center;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
  nav {
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  nav {
   flex-direction: column;
  }
}

